<button data-action="open-drawer" id="drawer-button" class="drawer-button"><i class="fa fa-bars"></i></button>
<nav tabindex="-1" class="drawer">
  <div class="drawer-container">
    <!--.drawer-search(role="search")-->
    <ul role="navigation" class="drawer-list">
      <li class="drawer-list-item">
        <a href="/">
          <i class="fa fa-home"></i>Home
        </a>
      </li>
      
      {{#foreach navigation}}
          <li class="drawer-list-item nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}"><i class="fa fa-angle-double-right"></i>{{label}}</a></li>
      {{/foreach}}

      {{#if @labs.subscribers}}
          <li class="drawer-list-item nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{@blog.url}}/subscribe/"><i class="fa fa-rss"></i>Subscribe</a>
      {{else}}
          <li class="drawer-list-item nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i>Subscribe</a>
      {{/if}}
      {{> custom/navigation this}}
    </ul>
  </div>
</nav>
